#RewriteEngine On
#RewriteBase /classhelp/

# Capture URLs like /classhelp/filename/key/value
#RewriteRule ^([a-zA-Z0-9_-]+)/([^/]+)/([^/]+)$ $1.php?$2=$3 [L,QSA]

# Capture URLs like /classhelp/filename/key1/value1/key2/value2
#RewriteRule ^([a-zA-Z0-9_-]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)$ $1.php?$2=$3&$4=$5 [L,QSA]
